@font-face {
  font-family: "ProximaNova-Regular";
  src: url('../fonts/ProximaNova-Regular.ttf');
}
@font-face {
  font-family: "ProximaNova-Light";
  src: url('../fonts/ProximaNova-Light.ttf');
  font-weight: 300;
  font-style: normal;
}
html{
  border-radius: 5px;
}
body{
  display: block;
  line-height: 22px;
  font-family: "ProximaNova-Regular",'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased !important;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  margin: 0;
  padding: 0;
  border-radius: 3px;
  background-color: #fff;
}
.hide{display: none !important;}
.show{display: block !important;}
/*-------------- Grid System -----------*/

body *,
body *:after,
body *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*border: 1px solid red;*/
}
.holder > h1,.holder > h2,.holder > h3,
.holder > h4,.holder > h5,.holder > h6,
.holder > p{
  padding:8px;
}
.holder{
  width: 1000px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  overflow: none;
  overflow-y:auto;
}
.holder-fluid{
  width: 100%;
  max-width: 100%;
  clear: both;
  overflow:auto;
}
.grid-1,.grid-2,.grid-3,.grid-4,
.grid-5,.grid-6,.grid-7,.grid-8,
.grid-9,.grid-10,.grid-11,.grid-12{
  float: left;
  display: block;
  padding: 8px;
  /*overflow:auto;*/
}
.grid-1{
  max-width: 8.333%;
  width: 8.333%;
}
.grid-2{
  width: 16.667%;
  max-width: 16.667%;
}
.grid-3{
  width: 25%;
  max-width: 25%;
}
.grid-4{
  width: 33.333%;
  max-width: 33.333%;
}
.grid-5{
  width: 41.667%;
  max-width:41.667%;
}
.grid-6{
  width:50%;
  max-width:50%;
}
.grid-7{
  width: 58.333%;
  max-width: 58.333%;
}
.grid-8{
  width: 66.667%;
  max-width: 66.667%;
}
.grid-9{
  width: 75%;
  max-width: 75%;
}
.grid-10{
  width: 83.333%;
  max-width: 83.333%;
}
.grid-11{
  width: 91.667%;
  max-width: 91.667%;
}
.grid-12{
  width: 100%;
  max-width: 100%;
}
.clear-fix{
  clear: both;
}
.pull-left{
  float: left;
}
.pull-right{
  float: right;
}
.jumbo{
  background:#fff;
  border-radius: 2px;
  padding: 20px;
  border: 1px solid #E8EBF2;
  box-shadow: 0 0 100px 0 rgba(0,0,0,0.08);
  height: auto;
  overflow: auto;
}
.line{
  width: 100%;
  height: 1px !important;
  background: red;
  padding: 0 !important;
  margin: !important;
}
/*---------- Slider -------------------*/
.slide{
  display: none;
  opacity: 1;
  text-align: center;
  overflow-x: hidden !important;
}
.slide img{
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;

}
.bulets{
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;;
  background: red;
  display: block;
  float: none;width: inherit;
}
.bulet{
  position: relative;;
  width: 15px;
  height: 15px;
  border: 2px solid #EBEEF0;
  display: block;
  float: left;
  background: gray;
  border-radius: 50%;
  cursor: pointer;
  color: #fff;
  margin: 5px;
}
.bulet:hover{
  background: #00CC66;
}
.bulets .active{
  height: 15px;
  width: 15px;
  background: none;
  border: 2px solid #00CC66;
}
.prevnext{
  float: right;
  margin-top: 10px;
}
.prev,.next{
  outline: none;
  border: none;
  background: #00CC66;
  color: #fff;
  font-size: 20px;
  top: 50%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  height: 20px;
  width: 30px;
}

@keyframes fadein {0%{opacity:0.2;}100%{opacity:1;}}

/*---------- Typhograhpy --------------*/

h1,h2,h3,h4,h5,h6{font-weight: 500;margin:0;color: #000;/*font-family:"ProximaNova-Light",Helvetica,Arial,sans-serif;*/}
h1 {font-size: 36px;line-height: 44px;}
h2 {font-size: 30px;line-height: 38px;}
h3 {font-size: 25px;line-height: 33px;}
h4 {font-size: 21px;line-height: 29px;}
h5 {font-size: 18px;line-height: 26px;}
h6 {font-size: 16px;line-height: 24px;}
/*h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em;}
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em;  }*/

/*h1 { font-size: 2.50em;}
h2 { font-size: 2.25em;}
h3 { font-size: 2.00em;}
h4 { font-size: 1.75em;}
h5 { font-size: 1.50em;}
h6 { font-size: 1.25em;}*/
/*h1, h2, h3, h4,h5, h6 { font-weight: 400;line-height:1 }*/
p {font-weight: 400;}
b,strong{font-weight: bold;font-family:"ProximaNova-Light",Helvetica,Arial,sans-serif;}

.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-justify {text-align: justify;}

.text-uppercase {text-transform: uppercase;}
.text-lowercase {text-transform:lowercase;}
.text-capitalize {text-transform: capitalize;}

/*-------------- image ------------------*/

img{
  width: 100%;
  height: auto;
}
.img-circle{
  border-radius: 50%;
}
.img-round{
  border-radius: 6px;
}

/*-------------  Link type ---------------*/
a{
  text-decoration: none;
  color:#308133;
}
a:hover{
  color:#206223;
}
a.hover{
  color:#206223;
}
a.btn{
  color:#fff;
  margin-bottom: 20px;
}
a.btn:hover{
  color:#fff;
}


/*-------------- list --------------*/

ul{
  list-style: circle;
}
ol{
  list-style: decimal;
}
li{
  margin: 5px;
}
ul ul,ol ol,
ul ol,ol ul{
  padding-left: 20px;
}

.side-nav{
  width: 300px;
  list-style: none;
  border: 1px solid red;
}

.side-nav li{
  height: 30px;
  line-height: 30px;

}
.side-nav li a{
  display: block;
  background: green;
}
.side-nav li ul{
  display: none;
}
.side-nav li ul li{

}
.side-nav li ul li a{
  display: block;
}

.top-nav{

}



/*---------- Form Style  --------------*/
.btn,.btn-full{
  height: 34px;
  padding: 8px 24px;
  outline:none !important;
  border-radius: 2px;
  border: none;
  color:#fff;
  font-weight: 300;
  margin: 10px 0;
  display: block;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  -webkit-transition: all .3s ease-in-out ;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.btn-full{
  width: 100%;
}
.btn:hover,.btn-full:hover{
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.06),0 2px 5px 0 rgba(0,0,0,.2);
}
.btn:active,.btn-full:active{
  box
}

.btn-default {background: #34495E;}
.btn-default:hover {background: #2D3E50;}
.btn-primary {background: #1BBC9B;}
.btn-primary:hover {background: #16A086;}
.btn-success {background: #08c65b;}
.btn-success:hover {background: #27AE61;}
.btn-error {background: #E84C3D;}
.btn-error:hover {background: #C1392B;}
.btn-warning {background: #E67F22;}
.btn-warning:hover {background: #D25400;}
.btn-info {background: #3598DB;}
.btn-info:hover {background: #297FB8;}
.btn-inverse{background: #2D3E50;}
.btn-inverse:hover{background: #34495E;}

form{
  width: 100%;
  padding: 6px;
}
input[type=text],input[type=number],
input[type=email],input[type=password],
input[type=date],textarea{
  outline: none;
  border: 1px solid #C4D0D9;
  border-radius: 3px;
  padding: 6px;
  margin: 5px 0 25px 0;
  font-size: 16px;
  color:#3d3d3d;
  width: 100%;
  display: block;
}

input[type=text]:focus,input[type=number]:focus,
input[type=email]:focus,input[type=password]:focus,
input[type=date]:focus,textarea:focus{
  border: 1px solid rgba(81, 203, 238, 1);
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}
input[disabled]{background: #E9EDEE;}
input.tf-inactive{border: 1px solid #gray;}
input.tf-error{border: 1px solid #FF4C49;background:#FEEFEF;}
input.tf-success{border: 1px solid #5DC560;background:#F1FBF1;}
input.tf-warning{border: 1px solid #E67F22;background: #FDFCEA}
input.tf-focus{border: 1px solid #E67F22;}
textarea{resize: none;}


/*-------------------    checkbox and radio    ------------*/
/*input[type=radio],
input[type=checkbox] {
display: none;
}

input[type=radio] + label,
input[type=checkbox] + label {
display: inline-block;
cursor: pointer;
position: relative;
padding-left: 25px;
font-size: 13px;
padding: 14px 24px;
}

input[type=radio] + label:before,
input[type=checkbox] + label:before {
content: "";
display: inline-block;
width: 16px;
height: 16px;
line-height: 16px;
position: absolute;
left: 0;
background-color: #D7DADF;
text-align: center;
transition:all 0.3s;
}

input[type=radio] + label:before {
border-radius: 8px;
}

input[type=checkbox] + label:before {
border-radius: 3px;
}

input[type=radio]:checked + label:before {
content: "\2022";
color: #1BBC9B;
background: #fff;
border:2px solid #1BBC9B;
font-size:20px;
line-height: 10px;
}

input[type=checkbox]:checked + label:before {
content: "\2713";
text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
font-size: 15px;
color: #f3f3f3;
background: #1BBC9B;
font-weight: bold;

}

input[type=radio]:disabled + label:before,
input[type=checkbox]:disabled + label:before {
background: #f3f3f3;
color:#D7DADF;
}*/


.group{
  display: table-row;
}
.group input[type=text],.group input[type=number],
.group input[type=email],.group input[type=password],
.group input[type=date] {
  display: table-cell;
}

select{
  outline: none;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  padding: 6px;
  margin: 5px 0 25px 0;
  font-size: 16px;
  color:#3d3d3d;
  width: 100%;
  display: inline-block;
}
option{
  display: inline-block;
  background: #e5e5e5;
  height: 50px !important;
}

/*--------   Progress Bar  ----------------*/
.progress {
  position: relative; /* IE is dumb */
  width: 100%;
  border: 1px solid #1BBC9B;
  padding: 2px;
  border-radius:6px;
  margin: 24px 0;
}
.progress .bar {
  display: block;
  position: relative;
  background: #1BBC9B;
  text-align: center;
  color: #333;
  height: 6px;
  line-height: 6px;
  border-radius:6px;
}



/*------------ Responsive ------------------------*/

/* Responsive for desktop */
@media (max-width: 1000px) {
  .holder{
    width: 100%;
    max-width: 100%;
  }
}



/*------ Temporary   -------------------*/
.border{
  border: 1px solid
}

/*-------------- Navigation bar  ----------------------------*/
.tb{display: table}
.tb-cell{display: table-cell;vertical-align: middle;}
/*---------  Different list ---------------*/
.list-inline{
  font-size: 15px;
}
.list-inline ul{
  list-style: none;
}
.list-inline ul li{
  display: inline-block;
  margin-left: 10px;
}
.list-inline ul li:first-child{
  margin-left: 0;
}
.list-inline ul li a{

}
.list-inline ul li a:hover{

}


.card {box-shadow: 0 17px 50px 0 rgba(0,0,0,.19),0 12px 15px 0 rgba(0,0,0,.24);/*box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); */ }
hr { background: #ccc;height: 1px; outline: none; border: none;}



/*----- Extraaa   ----*/

.error{
  width: 50px;
  height: 50px;
  text-align: center;
  float: left;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50%;
  border: 1px solid black;
  background: yellow;
}
.err-msg{
  float: left;
  padding-left: 15px;
}
.err-msg h2{

  color:red;
}
#top, #bottom, #left, #right {
  background: #00CA72;
}
#left, #right {
  position: fixed;
  top: 0; bottom: 0;
  width: 15px;
}
#left { left: 0; }
#right { right: 0; }

#top, #bottom {
  position: fixed;
  left: 0; right: 0;
  height: 15px;
}
#top { top: 0; }
#bottom { bottom: 0; }

@media only screen and (max-width: 500px),
only screen and (min-device-width: 768px) and (max-device-width: 1024px){
  #top, #bottom, #left, #right { display: none; }
}
